<html th:replace="base::layout(~{::section})">
	<head>
		<style>
		
			<link rel="stylesheet" href="/css/2.css">
			   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
			   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
			   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js">
			   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">

			   <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</style>
	</head>
	<body>
	
			<section id="about" class="about mt-2">
			        <div class="container">
			          <div class="section-title" data-aos="zoom-out">
			            <h2>Description</h2>
			            <p>About <span>NOU <span style="  text-transform: lowercase;">e</span>-Gyan Portal </span></p>
			          </div>
			        </div>
			          <div class="container-fluid mt-2">
			          <div class="row content" data-aos="fade-up">
			          <div class="col-sm-1"></div>
			            <div class="col-lg-6">
			              <p class="text-justify">
			             <strong>  Nalanda Open University </strong> welcomes all our students, faculties & study centres to the very new & innovative online study portal <strong>NOU e-Gyan</strong>. The portal is a unique initiative by Hon'ble Vice-Chancellor <strong>Prof. (Dr.) K C Sinha</strong>, which aims at providing online study material to the students of NOU.
			               <br/><br/>
			               The portal is accessible from any hook and corner of the world if the system allows the permission to its users. It is also fully secured and accessible 24 x 7 to its authorised users. It will resolve the academic issues such as E-content Distribution, Delivery, Tracking, Assessment, Progress Monitoring & Controlling of all stakeholders of the system i.e. students, teachers, study centre administrators as well as Nalanda Open University Admins when they are at a distance.
			              </p>
			            </div>
			            <div class="col-sm-1"></div>
			             <div class=" col-sm-4 mx-3 mx-lg-0 mx-auto my-auto" data-aos="zoom-in" style="background:linear-gradient(-15deg,rgba(255,255,255,.4),rgba(0,0,0,.7)),url(./back.jpg);min-height:55vh;background-repeat:no-repeat;background-size:100% 100%;">
			                 <div class="video-box d-flex justify-content-centre align-items-stretch position-relative me-4">
			                     <a href="https://youtu.be/jVl8uLz8f9w" class=" play-btn "  data-lity data-lity-target="https://youtu.be/jVl8uLz8f9w"></a>
			                  </div>
			            </div>
			          </div>
			  
			        </div>
			      </section>
				  
				  <section class="services">
				  	    <div class="container">
				  		    <div class="row">
				  			    <div class="section-title">
				  				    <h2>Features</h2>
				  					<p>Student <span>Services</span></p>
				  				  </div>
				  		    <div class="col-sm-3 border-1">
				  			   <div class="image1 mx-5 mx-lg-0">
				  			      <img src="https://nouegyan.in/assets/img/services/registration.jpg" class="img-fluid" >
				  			    </div>
				  				<div class="text">
				  				   <h5 style="background-color: darkred; color: white;">Login</h5>
				  				</div>
				  			</div>
				  			<div class="col-sm-3">
				  			<div class="image1 mx-5 mx-lg-0">
				  			<img src="https://nouegyan.in/assets/img/services/dashboard.jpg" class="img-fluid">
				  			    </div>
				  				<div class="text">
				  				   <h5 style="background-color: darkred; color: white;">Dashboard</h5>
				  				</div>
				  			</div>
				  			<div class="col-sm-3">
				  			<div class="image1 mx-5 mx-lg-0">
				  			<img src="https://nouegyan.in/assets/img/services/online-courses.jpg" class="img-fluid">
				  			    </div>
				  				<div class="text">
				  				   <h5 style="background-color: darkred; color: white;">Self Learning Material (SLM)</h5>
				  				</div>
				  			</div>

				  			<div class="col-sm-3">
				  			<div class="image1 mx-5 mx-lg-0">
				  			<img src="https://nouegyan.in/assets/img/services/e-lectures.jpg" class="img-fluid ">
				  			    </div>
				  				<div class="text">
				  				   <h5 style="background-color: darkred; color: white;">e-Books</h5>
				  				</div>
				  			</div>
				  			</div>
				  			 <div class="row">
				  			<div class="col-sm-3">
				  			  <div class="image1 mx-5 mx-lg-0 ">
				  			<img src="https://nouegyan.in/assets/img/services/self-assessment.svg"  class="img-fluid pb-2" style="height: 220px; width: 250px;" >
				  			    </div>
				  				<div class="text">  
				  				   <h5 style="background-color: darkred; color: white;">Self-Assessment Tools</h5>
				  				</div>
				  			</div>

				  			    <div class="col-sm-3">
				  			<div class="image1 mx-5 mx-lg-0">
				  			<img src="https://nouegyan.in/assets/img/services/performance.jpg" class="img-fluid pb-2">
				  			    </div>
				  				<div class="text">
				  				   <h5 style="background-color: darkred; color: white;">Performance</h5>
				  				</div>
				  			</div>

				  			<div class="col-sm-3">
				  			<div class="image1 mx-5 mx-lg-0">
				  			<img src="https://nouegyan.in/assets/img/services/feedback.jpg" class="img-fluid pb-2">
				  			    </div>
				  				<div class="text">
				  				   <h5 style="background-color: darkred; color: white;">Feedback</h5>
				  				</div>
				  			</div>

				  			<div class="col-sm-3">
				  			<div class="../images/">
				  			  <img src="https://nouegyan.in/assets/img/services/course-catlog.jpg" class="img-fluid pb-2">
				  			    </div>
				  				<div class="text">
				  				     <h5 style="background-color: darkred; color: white;">Courses-Catalogue</h5>
				  				</div>
				  			</div>
				  		</div>

				  		  </div>
				  	</section>
					<div class = "row" id = "3">
					            <div class="col-md-12 mar">
					            <div style="background-color: #fee79a; padding: 5px; font-size: 1.4em;margin-left:10px;">
					    
					            <marquee behavior="alternate" direction="left" onmouseover="this.stop();" onmouseout="this.start();"> 
					            <img src="https://media.istockphoto.com/id/1362142320/vector/new-sticker-red-new-product-or-collection-badge-vectornewest-stamp.jpg?s=612x612&w=0&k=20&c=l7_rjI57JXi-xM5dAeNTa5cD8cdlmPljpip_5zgKyzo="height=25px; width=30px;>
					            <a href="https://www.iiml.ac.in/wmp#3" class="local" title="
					            Admission Open PGPWE (Two Year alternate-weekend MBA)">
					            The Portal is easy to access & highly user friendly for the students & study centres.</a> |
					            <img src="https://media.istockphoto.com/id/1362142320/vector/new-sticker-red-new-product-or-collection-badge-vectornewest-stamp.jpg?s=612x612&w=0&k=20&c=l7_rjI57JXi-xM5dAeNTa5cD8cdlmPljpip_5zgKyzo="height=25px; width=30px;>
					            <a href="https://nouegyan.in/courses.php" class="local">
					            Admission Open IPMX (OneYearMBA)</a> |
					            
					            <a href="https://nouegyan.in/services.php" class="local" title=""> |
					    
					            <img src="https://media.istockphoto.com/id/1362142320/vector/new-sticker-red-new-product-or-collection-badge-vectornewest-stamp.jpg?s=612x612&w=0&k=20&c=l7_rjI57JXi-xM5dAeNTa5cD8cdlmPljpip_5zgKyzo=" height=25px; width=30px;>The portal is fully secured and accessible 24 x 7 to its authorised users. </a>
					    
					    
					            </marquee>
					    
					            <marquee behavior="alternate" direction="left" onmouseover="this.stop();" onmouseout="this.start();"> 
					              <img src="https://media.istockphoto.com/id/1362142320/vector/new-sticker-red-new-product-or-collection-badge-vectornewest-stamp.jpg?s=612x612&w=0&k=20&c=l7_rjI57JXi-xM5dAeNTa5cD8cdlmPljpip_5zgKyzo=" height=25px; width=30px;>
					            <a href="https://www.iiml.ac.in/facultyPosition1" class="local" title="
					            Faculty Recruitment (Last date for filling the online application form is October 15, 2024)">
					            Faculty Recruitment (Last date for filling the online application form is October 15, 2024)</a>
					            </marquee>
					              
					            </div>
					            </div>
					          </div>
					          
					          
				  
				  <section id="features" class="features p-4" style="background-color:#ddd;">
				  					<div class="container mb-4">
				  					  <div class="row">
				  							  <div class="section-title">
				  								<h2 style="font-size: 16px;opacity:0.3" class="ms-0">OUR MENTORS</h2>
				  								<span class="animate-border border-black mb-0" style="position: relative;
				  																		    display: block;
				  																		    width: 110px;
				  																		    height: 1px;
				  																		    background: #ef6603;"></span>
				  				                <h3 class="ms-0">ADMINISTRATIVE <span style="color: darkred;">SETUP</span></h3>
				  				       </div>


				  					   <div class="row row-cols-1 row-cols-md-4 g-4 ms-2">
				  						<div class="col" >
				  						  <div class="card" style="height: 230px;width:230px;">
				  							<img src="https://nouegyan.in/assets/img/mentor/vc.jpg" style="height:120px;width:120px;border-radius:50%;border:5px double darkred;" class="card-img-top ms-5 mt-4" alt="...">
				  							<div class="card-body">
				  							  <h5 class="card-title ms-4" style="color: darkred;font-size:18px;">Prof. (Dr.) K. C. Sinha</h5>
				  							  <p class="card-text ms-5" style="font-size: 14px;">VICE CHANCELLOR</p>
				  							</div>
				  						  </div>
				  						</div>
				  						<div class="col">
				  						  <div class="card" style="height: 230px;width:230px">
				  							<img src="https://nouegyan.in/assets/img/mentor/pvc.jpg" style="height:120px;width:120px;border-radius:50%;border:5px double darkred;" class="card-img-top ms-5 mt-4" alt="...">
				  							<div class="card-body">
				  							  <h5 class="card-title" style="color: darkred;font-size:18px;">Prof. (Dr.) Sanjoy Kumar</h5>
				  							  <p class="card-text ms-4" style="font-size: 14px;">PRO VICE CHANCELLOR</p>
				  							</div>
				  						  </div>
				  						</div>
				  						<div class="col">
				  						  <div class="card " style="height: 230px;width:230px">
				  							<img src="https://nouegyan.in/assets/img/mentor/registrar1.jpeg" style="height:120px;width:120px;border-radius:50%;border:5px double darkred;" class="card-img-top ms-5 mt-4" alt="...">
				  							<div class="card-body">
				  							  <h5 class="card-title" style="color: darkred;font-size:18px;">Dr.Md.Habibur Rahman</h5>
				  							  <p class="card-text ms-5" style="font-size: 14px;">REGISTRAR</p>
				  							</div>
				  						  </div>
				  						</div>
				  						<div class="col">
				  						  <div class="card" style="height: 230px;width:230px">
				  							<img src="https://nouegyan.in/assets/img/mentor/examreg.jpg" style="height:120px;width:120px;border-radius:50%;border:5px double darkred;" class="card-img-top ms-5 mt-4" alt="...">
				  							<div class="card-body">
				  							  <h5 class="card-title ms-3" style="color: darkred;font-size:18px;">Dr. Neelam Kumari</h5>
				  							  <p class="card-text ms-5" style="font-size: 14px;">REGISTRAR (Exam)</p>
				  							</div>
				  						  </div>
				  						</div>
				  					  </div>

				  				    </div>
				  				</section>
								<script src="assets/js/splide.js"></script>
			

	</body>
</html>